

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
font-family:'Times New Roman', Times, serif !important;
margin: 0;
padding: 0;
box-sizing: border-box;

}

.sidebar{
position: fixed;
left: 0;
top: 0;
height: 100%;
width: 78px;
background: #F1F6F9;
padding: 6px 14px;
z-index: 99;
transition: all 0.5s ease;
}
.sidebar.open{
width: 250px;
}
.sidebar .logo-details{
height: 60px;
display: flex;
align-items: center;
position: relative;
}
.sidebar .logo-details .icon{
opacity: 0;
transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
color: #000000;
font-size: 20px;
/* font-weight: 600; */
white-space: nowrap;
opacity: 0;
transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
opacity: 1;
}
.sidebar .logo-details #btn{
position: absolute;
top: 50%;
right: 0;
transform: translateY(-50%);
font-size: 22px;
transition: all 0.4s ease;
font-size: 23px;
text-align: center;
cursor: pointer;
transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
text-align: right;
}
.sidebar i{
color: #fff;
height: 60px;
min-width: 50px;
font-size: 28px;
text-align: center;
line-height: 60px;
}
.sidebar .nav-list{
margin-top: 20px;
height: 100%;
}
.sidebar li{
position: relative;
margin: 8px 0;
list-style: none;
}
.sidebar li .tooltip{
position: absolute;
top: -20px;
left: calc(100% + 15px);
z-index: 3;
background: #fff;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
padding: 6px 12px;
border-radius: 4px;
font-size: 15px;
font-weight: 400;
opacity: 0;
white-space: nowrap;
pointer-events: none;
transition: 0s;
}
.sidebar li:hover .tooltip{
opacity: 1;
pointer-events: auto;
transition: all 0.4s ease;
top: 50%;
transform: translateY(-50%);
}
.sidebar.open li .tooltip{
display: none;
}
.sidebar input{
font-size: 15px;
color: #FFF;
font-weight: 400;
outline: none;
height: 50px;
width: 100%;
width: 50px;
border: none;
border-radius: 12px;
transition: all 0.5s ease;
background: #1d1b31;
}
.sidebar.open input{
padding: 0 20px 0 50px;
width: 100%;
}
.sidebar .bx-search{
position: absolute;
top: 50%;
left: 0;
transform: translateY(-50%);
font-size: 22px;
background: #1d1b31;
color: #FFF;
}
.sidebar.open .bx-search:hover{
background: #1d1b31;
color: #FFF;
}
.sidebar .bx-search:hover{
background: #FFF;
color: #11101d;
}
.hov:hover{
  background: #FFF;
  color: #11101d !important;
  z-index:100;
  }
.sidebar li a{
display: flex;
height: 100%;
width: 100%;
border-radius: 12px;
align-items: center;
text-decoration: none;
transition: all 0.4s ease;
background: #11101D;
}
.sidebar li a:hover{
background: #FFF;
}
.sidebar li a .links_name{
color: #fff;
font-size: 15px;
font-weight: 400;
white-space: nowrap;
opacity: 0;
pointer-events: none;
transition: 0.4s;
}
.sidebar.open li a .links_name{
opacity: 1;
pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
transition: all 0.5s ease;
color: #11101D;
}
.sidebar li i{
height: 50px;
line-height: 50px;
font-size: 18px;
border-radius: 12px;
}
.sidebar li.profile{
position: fixed;
height: 60px;
width: 78px;
left: 0;
bottom: -8px;
padding: 10px 14px;
background: #1d1b31;
transition: all 0.5s ease;
overflow: hidden;
}
.sidebar.open li.profile{
width: 250px;
}
.sidebar li .profile-details{
display: flex;
align-items: center;
flex-wrap: nowrap;
}
.sidebar li img{
height: 45px;
width: 45px;
object-fit: cover;
border-radius: 6px;
margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
font-size: 15px;
font-weight: 400;
color: #fff;
white-space: nowrap;
}
.sidebar li.profile .job{
font-size: 12px;
}
.sidebar .profile #log_out{
position: absolute;
top: 50%;
right: 0;
transform: translateY(-50%);
background: #1d1b31;
width: 100%;
height: 60px;
line-height: 60px;
border-radius: 0px;
transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
width: 50px;
background: none;
}
.home-section{
position: relative;
background: #ffffff;
min-height: 100vh;
top: 0;
left: 78px;
width: calc(100% - 78px);
transition: all 0.5s ease;
z-index: 2;
}
.sidebar.open ~ .home-section{
left: 250px;
width: calc(100% - 250px);
}

.large{
  font-size:30px !important;
}

.text{
  color: #3261AC;
  font-size: 25px;
  font-weight: 500;
  margin: 18px ;
}

.required:after{
content: "*";
color: red;
}


.hovpic{
  border-radius: 0 !important; 
  /* height: 200px !important;
  width: 300px !important; */
  transition: all 0.5s ease-in-out;
}


.hovpic:hover {
  transform: scale(7,7);
}

.large-table-container-3 {
  max-width: auto;
  overflow-x: scroll;
  overflow-y: auto;
}
.large-table-container-3 table {
}
.large-table-fake-top-scroll-container-3 {
  max-width: auto;
  overflow-x: scroll;
  overflow-y: auto;
}
.large-table-fake-top-scroll-container-3 div {
 
  background-color: #3261AC;
  font-size: 1px;
  
  line-height: 1px;
}
@media (max-width: 767px) {
.sidebar li .tooltip{
display: none;
}
.mobb{
  white-space: pre !important;
}
.mob{
  
  font-size:20px !important;
}
}


.tab{
  max-width:98%;
  transform: translateX(1%);

}

.table {
  
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px !important;
  }
  
  .table tr td {
    padding: 20px 9px 10px;
    border: 1px solid black;
    
  }

  tr:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

  

  .ok{
    font-weight:bold ;
   
  }
  
  @media screen and (max-width: 767px) {
    .responsive thead {
      visibility: hidden;
      height: 0;
      position: absolute;
    }
  
    .responsive tr {
      display: block;
      margin-bottom: 0.625em;
    }
  
    .responsive td {
      border: 1px solid;
      border-bottom: none;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }
  
    .responsive td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    .responsive td:last-child {
      border-bottom: 1px solid;
    }
  }

  /* -- HEADER-- */

  .header {
    overflow: hidden;
    background-color: #F1F6F9;
    /* padding: 10px 10px; */
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    /* background-color: #ddd; */
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  .center{
    margin-right: 100px;
    /* margin-top:27px; */
  }
  #watermark { 
    display: flex;
justify-content: center;
  opacity: 0.1;
  position: fixed;
  top: 40% !important;
  left: 40%;
 
}

.water{
height: 60% !important;
width:60% !important;
}

.largee{
  font-size:30px;
}
  @media screen and (max-width: 767px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }

    
    .center h2{
      white-space: nowrap;
      /* overflow: hidden; */
      text-overflow: ellipsis;
      line-height: 110%;
      font-size:27px !important;
    }
    .smalll{
    margin-left:55px !important;
    
    
}
  .smallll{
    margin-left:30px !important;
    
    
}
.position{
  margin-left:24px;
  
}
    .fac{
height:30px !important;
margin-left:75px !important;
    }

    #watermark{
      display:none !important;
  }
  }


  @media (max-width: 1200px){
    #watermark{
      left:30% !important;
  }
  
}


.btn1 {
  background: #fffdfd;
  box-shadow: -10px -10px 10px 0 #f0eaea50,10px 10px 30px 0 #1d0dca17;
  border: 2px solid;
  font: inherit;
  /* line-height: 1; */
  margin: 0.5em;
  padding: 0.5em 1em;
}
.btn1 {
  color: var(--color);
  transition: 0.25s;
}

.btn1:hover, .btn1:focus {
  border-color: var(--hover);
  color: #fff;
}

.btn2 {
  background: #fffdfd;
  box-shadow: -1px -10px 10px 0 #f0eaea,10px 10px 30px 0 #1d0dca17;
  border: 2px solid;
  font: inherit;
  /* line-height: 1; */
  margin: 0.5em;
  padding: 0.5em 1em;
}
.btn2 {
  color: var(--color);
  transition: 0.25s;
}

.btn2:hover, .btn2:focus {
  border-color: var(--hover);
  color: #fff;
}




.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.slide {
  --color: #ff3030;
  --hover: #e228289b;
}






.slide1:hover,
.slide1:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.slide1 {
  --color: #4CBB17;
  --hover: #138808;
}

.borderc{
  border:2px solid #3261AC;
  box-shadow: -1px -10px 10px 0 #f0eaea,10px 10px 10px 0 #1d0dca17;
}
.placeicon{
  font-family: fontawesome !important;

}

/* <--header--> */

 .site-header-wrap {
    /* margin-bottom: 60px; */
    /* padding: 10px 0px 10px; */
    background: #F1F6F9;
    max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center !important;
  }

 
  

  .site-header {
    max-width: 1000px;
    width: 90%;
    margin: 0px auto;
    text-align: center;
  }
 
  .site-logo {
    width: 353px;
    max-width: 100%;
    height: 41px;
    display: inline-block;
    background: url("../img/site-logo-@2x.png") no-repeat;
    background-size: 100%;
    -moz-transition: opacity linear 0.15s;
    -webkit-transition: opacity linear 0.15s;
    -o-transition: opacity linear 0.15s;
    -ms-transition: opacity linear 0.15s;
  }
 
  .site-logo:hover {
    opacity: 0.4;
  }

  .site-tagline {
    margin-top: 10px;
    display: block;
    opacity: 0.4;
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
  }

  .site-header .site-nav {
    width: 100%;
    margin-top: 30px;
  }

  .site-header .site-nav ul {
    display: inline-block;
  }
 
  .site-header .site-nav ul li {
    margin: 0px 20px 0px;
    font-size: 18px;
    line-height: 100%;
  }

  .site-header .site-nav ul li:first-child {
    margin-left: 0px;
  }
 
  .site-header .site-nav [class^="fa-"] {
    padding-right: 5px;
    -webkit-text-stroke: 0px;
  }

  .site-header .site-nav a {
    -webkit-text-stroke: 0.5px #6f7883;
    color: #6f7883;
    -moz-transition: all linear 0.15s;
    -webkit-transition: all linear 0.15s;
    -o-transition: all linear 0.15s;
    -ms-transition: all linear 0.15s;
  }

  .site-header .site-nav a:hover {
    text-decoration: none;
    color: #fff;
  }

  .site-header .site-nav a:before {
    padding-right: 3px;
    position: relative;
    -webkit-text-stroke: 0px;
  }
  .logo-img{
    width: 100px;
    /* height: auto; */
    
    /* margin-left: 440px; */
  
  }
  .name{
    font-size: 30px;
    text-decoration: none !important;
    color: #000000;
}
@media screen and (min-width: 2070px) {
  .site-header-wrap{
    max-width: 100%;
padding: 59px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
  }





}


